In [1]:
import pandas as pd
import json
import gensim
from gensim.models import Word2Vec
import pandas as pd
import nltk
import re
import glob
from gensim.models.phrases import Phrases, Phraser
import ahocorasick

In [7]:
df_2019 = pd.read_csv('/home/jiasheng/ai_in_bio/papers.csv')
df_all = pd.read_csv('/home/jiasheng/ai_in_bio/papers_2022.csv')
df_all['Date'] = (df_all['year']-2000)*12+df_all['month']
df_2019['Date'] = (df_2019['year']-2000)*12+df_2019['month']

In [14]:
start = 259
end = 264
df_all[ (df_all['Date']>=start) &(df_all['Date']<=end)].shape

(20453, 13)

In [27]:
df_all[df_all['year']==2022][['year', 'month']]

         year  month
0      2022.0    NaN
1      2022.0    4.0
2      2022.0    4.0
3      2022.0    4.0
4      2022.0    4.0
...       ...    ...
73251  2022.0    6.0
74515  2022.0    4.0
74858  2022.0    4.0
74897  2022.0    4.0
88052  2022.0   10.0

[16544 rows x 2 columns]

In [19]:
df_2019['year'].max()

2019.0

In [17]:
(df_all['year']<2000).value_counts()

False    112897
True       1369
Name: year, dtype: int64